<!-- Contenedor -->
<div class="container mx-auto">
  <div class="bg-white rounded-lg shadow-lg mt-4">
    <div class="p-4">
      <!-- CONTENIDO -->
      <!-- Nuestro título -->
      <h3 class="text-3xl text-center mb-4">Listado Rutas</h3>
      <!-- Botón Para llevarnos al componente de Agregar Prestador -->
      <div class="flex justify-end">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" routerLink="/dashboard-admin/pagina-inicio/agregar-rutas-turisticas">Agregar</button>
      </div>
      <!-- Nuestro espacio de búsquedas en texto-->
      <div>
        <div>
          <div> <!-- ngModel -> se tiene que importar FormsModule en app module y colocar un name al input -->
            <span>Nombre:</span>
            <input type="text" class="form-control" name="filterPost" placeholder="Search ..." [(ngModel)]='filterPost'>
          </div>
        </div>
      </div>
      <!--Nuestra Tabla-->
      <table class="min-w-full mt-4">
        <!-- Encabezado de la Tabla -->
        <thead>
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Nombre
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Descripción
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Información Adicional
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Acciones
            </th>
          </tr>
        </thead>
        <!-- Cuerpo de la Tabla -->
        <tbody class="bg-white divide-y divide-gray-200">
          <!-- Elementos Renderizados desde la BD -->
          <tr *ngFor="let ruta of rutas | filtroTexto:filterPost | paginate: { itemsPerPage: 10, currentPage: page } " class="bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ ruta.name }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ ruta.descripcion }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ ruta.informacionAdicional }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              <!-- Para los íconos de Acciones - FontAwesome -->
              <i (click)="obtenerRuta(ruta)" class="fa-solid fa-pen-to-square fa-lg text-blue-500 mr-10 cursor-pointer"></i>
              <!-- Pasamos por parámetro el objeto listado para manipularlo, en este caso borrarlo -->
              <i (click)="eliminarRuta(ruta)" class="fa-solid fa-trash-can fa-lg text-red-500 cursor-pointer"></i>
            </td>
          </tr>
          <!-- Paginación propia de la librería que importamos -->
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </tbody>
      </table> <!-- Fin tabla -->

    </div>
  </div>
</div>
