<!-- Contenedor -->
<div  (keydown)="onKeyDown($event)" class="container mx-auto">
  <div class="bg-white rounded-lg shadow-lg mt-4">
    <div class="w-full p-4">
      <!-- CONTENIDO -->
      <!-- Nuestro título -->
      <h3 class="text-3xl text-center  font-bold text-gray-500 ">Listado Municipios</h3>

      <hr class="h-[1px] border-gray-300 mb-5 border-[1px] ">
      <!-- Botón Para llevarnos al componente de Agregar Prestador -->
      <div class="flex justify-center gap-2">
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4  rounded" (click)="openmodalwarning('municipios')">Eliminar</button>

        <button class="bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded" (click)="openmodalmuni()">Importar</button>

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" routerLink="/dashboard-admin/pagina-inicio/agregar-municipio">Agregar</button>
        <div class="" *ngIf="modalsuichmuni === true" >

          <app-import-municipio></app-import-municipio>

        </div>
        <div class="" *ngIf="warning === true" >

          <app-warning></app-warning>

        </div>
      </div>
      <!-- Nuestro espacio de búsquedas en texto-->
      <div class="flex flex-col gap-5 my-5 ">

          <div class="w-full"> <!-- ngModel -> se tiene que importar FormsModule en app module y colocar un name al input -->
            <span class="text-xl text-center  font-bold text-gray-500" >Nombre:</span>
            <input type="text" class="form-control w-full rounded-3xl border-2 border-gray-300 h-12 pe-10 shadow-sm bg:text-base xl:text-lg flex flex-col items-center py-4.5 px-7  font-Work" name="filterPost" placeholder="¿Que buscas?" [(ngModel)]='filterPost'>
          </div>


      <!-- Espacio de búsqueda en botónes para Municipios -->
      <div class="flex flex-row gap-2 justify-center">

          <div> <!-- Botónes para filtrar por opción, filtrando varios elementos -->
            <span class="text-center w-full  flex flex-row justify-center text-xl   font-bold text-gray-500">Zonas:</span>
            <select class="px-2 py-2 border-[1px] rounded-lg border-gray-500 w-[140px]" (change)="applyFilterZona($event)">
              <option value="todos">Todos</option>
              <option value="Centro">Centro</option>
              <option value="Norte">Norte</option>
              <option value="Occidente">Occidente</option>
              <option value="Sur">Sur</option>
            </select>
          </div>

      </div>

      <hr class="h-[1px] border-gray-300 mb-5 border-[1px] ">

    </div>
      <!--Nuestra Tabla-->
      <table class="min-w-full mt-4">
        <!-- Encabezado de la Tabla -->
        <thead>
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Nombre
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium hidden md:table-cell  text-gray-500 uppercase tracking-wider"
            >
              Zona
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium hidden md:table-cell  text-gray-500 uppercase tracking-wider"
            >
              Clima
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium hidden md:table-cell  text-gray-500 uppercase tracking-wider"
            >
              Población
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Acciones
            </th>
          </tr>
        </thead>
        <!-- Cuerpo de la Tabla -->
        <tbody class="bg-white divide-y divide-gray-200">
          <!-- Elementos Renderizados desde la BD -->
          <tr *ngFor="let municipio of municipios | filtroTexto:filterPost | botonZona:zonaFilter | paginate: { itemsPerPage: 10, currentPage: page } " class="bg-gray-100">
            <td class="px-6 py-4 max-w-[15%] overflow-hidden text-ellipsis   text-sm text-gray-900">
              {{ municipio.name }}
            </td>
            <td class="px-6 py-4 max-w-[15%] overflow-hidden text-ellipsis  hidden md:table-cell  text-sm text-gray-900">
              {{ municipio.zona }}
            </td>
            <td class="px-6 py-4  max-w-[15%] overflow-hidden text-ellipsis hidden md:table-cell   text-sm text-gray-900">
              {{ municipio.clima }}
            </td>
            <td class="px-6 py-4 max-w-[15%] overflow-hidden text-ellipsis  hidden md:table-cell   text-sm text-gray-900">
              {{ municipio.poblacion }}
            </td>
            <td class="px-6 py-4 max-w-[30%] overflow-hidden text-ellipsis  text-sm text-gray-900">
              <!-- Para los íconos de Acciones - FontAwesome -->
              <i (click)="obtenerMunicipio(municipio)" class="fa-solid fa-pen-to-square fa-lg text-blue-500 mr-5 cursor-pointer"></i>
              <!-- Pasamos por parámetro el objeto listado para manipularlo, en este caso borrarlo -->
              <i (click)="eliminarMunicipio(municipio)" class="fa-solid fa-trash-can fa-lg text-red-500 cursor-pointer"></i>
            </td>
          </tr>
          <!-- Paginación propia de la librería que importamos -->

        </tbody>
      </table> <!-- Fin tabla -->
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</div>
