<!-- Contenedor -->
<div class="container mx-auto">
  <div class="bg-white rounded-lg shadow-lg mt-4">
    <div class="p-4">
      <!-- CONTENIDO -->
      <!-- Nuestro título -->
      <h3 class="text-3xl text-center mb-4">Listado Atractivos Turisticos</h3>
      <!-- Botón Para llevarnos al componente de Agregar Prestador -->
      <div class="flex justify-end">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" routerLink="/dashboard-admin/pagina-inicio/agregar-atractivo-turistico">Agregar</button>
      </div>
      <!-- Nuestro espacio de búsquedas en texto-->
      <div>
        <div>
          <div> <!-- ngModel -> se tiene que importar FormsModule en app module y colocar un name al input -->
            <span>Nombre:</span>
            <input type="text" class="form-control" name="filterPost" placeholder="Search ..." [(ngModel)]='filterPost'>
          </div>
        </div>
      </div>
      <!-- Espacio de búsqueda en botónes para Municipios -->
      <div>
        <div>
          <div> <!-- Botónes para filtrar por opción, filtrando varios elementos -->
            <span>Municipios:</span>
            <select (change)="applyFilterMunicipio($event)">
              <option value="todos">Todos</option>
              <option value="Acevedo">Acevedo</option>
              <option value="Agrado">Agrado</option>
              <option value="Aipe">Aipe</option>
              <option value="Algeciras">Algeciras</option>
              <option value="Altamira">Altamira</option>
              <option value="Baraya">Baraya</option>
              <option value="Campoalegre">Campoalegre</option>
              <option value="Colombia">Colombia</option>
              <option value="El Pital">El Pital</option>
              <option value="Elias">Elias</option>
              <option value="Garzon">Garzon</option>
              <option value="Gigante">Gigante</option>
              <option value="Guadalupe">Guadalupe</option>
              <option value="Hobo">Hobo</option>
              <option value="Isnos">Isnos</option>
              <option value="La Argentina">La Argentina</option>
              <option value="La Plata">La Plata</option>
              <option value="Neiva">Neiva</option>
              <option value="Nataga">Nataga</option>
              <option value="Oporapa">Oporapa</option>
              <option value="Paicol">Paicol</option>
              <option value="Palermo">Palermo</option>
              <option value="Palestina">Palestina</option>
              <option value="El Pital">El Pital</option>
              <option value="Pitalito">Pitalito</option>
              <option value="Rivera">Rivera</option>
              <option value="Saladoblanco">Saladoblanco</option>
              <option value="San Agustin">San Agustin</option>
              <option value="Santa Maria">Santa Maria</option>
              <option value="Suaza">Suaza</option>
              <option value="Tarqui">Tarqui</option>
              <option value="Tello">Tello</option>
              <option value="Teruel">Teruel</option>
              <option value="Tesalia">Tesalia</option>
              <option value="Timana">Timana</option>
              <option value="Villavieja">Villavieja</option>
              <option value="Yaguara">Yaguara</option>
              <option value="Iquira">Iquira</option>
            </select>
          </div>
        </div>
      </div>
      <!--Nuestra Tabla-->
      <table class="min-w-full mt-4">
        <!-- Encabezado de la Tabla -->
        <thead>
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Nombre
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Municipio
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Zona
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Bien o Lugar
            </th>
          </tr>
        </thead>
        <!-- Cuerpo de la Tabla -->
        <tbody class="bg-white divide-y divide-gray-200">
          <!-- Elementos Renderizados desde la BD -->
          <tr *ngFor="let atractivo of atractivosTuristicos | filtroTexto:filterPost | botonMunicipio:municipio | paginate: { itemsPerPage: 10, currentPage: page } " class="bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ atractivo.name }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ atractivo.municipio }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ atractivo.zona }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ atractivo.bienOLugar }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              <!-- Para los íconos de Acciones - FontAwesome -->
              <i (click)="obtenerAtractivo(atractivo)" class="fa-solid fa-pen-to-square fa-lg text-blue-500 mr-10 cursor-pointer"></i>
              <!-- Pasamos por parámetro el objeto listado para manipularlo, en este caso borrarlo -->
              <i (click)="eliminarAtractivo(atractivo)" class="fa-solid fa-trash-can fa-lg text-red-500 cursor-pointer"></i>
            </td>
          </tr>
          <!-- Paginación propia de la librería que importamos -->
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </tbody>
      </table> <!-- Fin tabla -->

    </div>
  </div>
</div>
